---
humilis-dynamodb:
    description:
        A dummy environment used for testing the humilis-dynamodb plugin.

    layers:
        - layer: dummy
          layer_type: dynamodb
          has_public_api: yes
          has_api_cache: yes
          namespace_parameter: ns
